
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* TODO: Make it awesome */
#deleteIcon{

    width: 30px;
}
header{
    font-size: x-large;
    text-align: center;
background-color: cornflowerblue;

}
header a{
    text-decoration: none;
}
header h1{
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    color: rgb(231, 241, 241);
}
header ul li{
    
    font-family: 'Bubbler One', sans-serif;
    text-decoration: none;
    display: inline;
    
}
header ul li:nth-of-type(2){
    padding-left: 20px;
}
main {
    width: 100%;
    position: absolute;
    margin: auto;
    top:30%;
    text-align: center;
}
.copy{
    margin-top: 20px;
    
}
#catalog{
padding-bottom: 20px;
}

#catalog legend
{
   
    color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
}

div:nth-of-type(2){
    height: 150px;
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 20px;
    width: 100%;
    text-align: center;
    color: rgb(231, 241, 241);
    background-color: cornflowerblue;
}

#cart{
display: inline-block;

    margin: auto;
} 
ol{
    margin-bottom: 30px;

}

th{
    padding-right: 60px;
}
td{
    padding-top: 20px;
    text-align: center;
    padding-right: 65px;
}
tbody{position: absolute;
    display: inline-block;
    height: 160px;
    width: 400px;
    left: 39%;
    overflow-y: scroll;
}
/* body #cloud{
    opacity: 20%;
    z-index: 100%;
    position: fixed;
}

@keyframes{

} */

#cartContents li{
    color:black;
    animation-timing-function: linear;
    animation-name:check;
    animation-duration: 0.2s;
    
    
}
@keyframes check{
    0%{
        font-size: x-small;
        color:rgb(0, 195, 255)
    }
   
    
    100%{
        font-size: x-large;
        color:rgba(10, 189, 192, 0.952)
    }

}
